header{
    padding : 10px 0px;
    background-color: #46d8ab;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #77b6a8;
}
form.student-form {
    display: table;
}

div.student-form {
    display: table-row;
}

label.form-cell, input.form-cell, span.form-cell, button.form-cell {
    display: table-cell;
    margin-bottom: 1rem;
}

label {
    padding-right: 10px;
}

table, th, td {
    border: 1px solid #a6c746;
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #ebf1d5;
}
img{
    max-width: 40%;
    height: auto;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #46d8ab;
    padding : 10px 0px;
    color: white;
    text-align: center;
    border: 2px solid #77b6a8;
  }
/* table { 
    border-collapse: collapse; 
} 
.student-form { 
    border-collapse:separate; 
    border-spacing:0 1rem; 
} */